.footer {
  background: linear-gradient(to right, #1c1c1c, #2c2c2c);
  padding: 25px 40px;
  color: #ccc;
  /* font-family: 'Segoe UI', sans-serif; */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Left */
.footer-left {
  font-size: 22px;
  font-weight: 700;
  color: #f39c12;
  letter-spacing: 2px;
}

/* Center */
.footer-center {
  font-size: 14px;
  color: #aaa;
}

/* Right */
.footer-right {
  display: flex;
  gap: 25px;
}

.footer-right a {
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
  transition: 0.3s ease;
}

.footer-right a:hover {
  color: #f39c12;
}

.book-btn {
  font-weight: 500;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-right {
    gap: 15px;
  }
}